/** Add css rules here for your application. */
body {
	height: 100%; /* needed for full height effect */
	background: #fff url(images/back.png) no-repeat center top;
	font-size: 10px;
	font-family: Lucida Grande, verdana, arial, sans-serif;
	outline: none;
	color: #686868;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

.main {
	width: 950px;
	margin: 0 auto;
	display: table;
	position: relative;
	z-index: 1;
}

.gwt-DialogBox {
	z-index: 500;
	width: 400px;
	left: 300px !important;
	top: 230px !important;
}

.full-width {
	width: 100%;
}

.float-right {
	float: right;
}

.header {
	width: 950px;
	height: 104px;
	float: left;
}

.inf-logo-large {
	width: 290px;
	height: 64px;
	background: transparent url(images/logo-large.gif) no-repeat left top;
	margin: 20px;
	float: left;
}

.inf-navigation-panel {
	
}

.inf-navigation-button {
	width: 60px;
	height: 74px;
	background: transparent url(images/navigation-button-back.gif) no-repeat
		left top;
	margin: 20px
}

.content {
	margin-top: 20px;
	width: 100%;
	float: left;
}

#page-top-slot {
	width: 910px;
	padding: 0 20px 20px 20px;
}

#page-content-slot {
	width: 910px;
	padding: 0 20px;
}

#page-header-slot {
	width: 910px;
	padding: 20px 20px 20px 0;
}

.page-separator {
	border-top: solid 1px #c4c4c4;
	background: transparent url(images/page-separator-back.png) repeat-x
		left top;
}