/** Add css rules here for your application. */
body {
	height: 100%; /* needed for full height effect */
	background: #fff url(images/back.png) no-repeat center top;
	outline: none;
}

body,table td,select {
	font-size: 10px !important;
	font-family: Lucida Grande, verdana, arial, sans-serif !important;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

.main {
	width: 950px;
	margin: 0 auto;
	display: table;
	position: relative;
	z-index: 1;
}

.full-width {
	width: 100%;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.default-head-element {
	margin-left: 20px;
	float: left;
}

.header {
	width: 950px;
	height: 104px;
	float: left;
}

.inf-logo-large {
	width: 290px;
	height: 64px;
	background: transparent url(images/logo-large.gif) no-repeat left top;
	margin: 20px;
	float: left;
}

.inf-navigation-panel {
	margin-right: 15px;
}

.inf-navigation-button {
	margin: 20px 5px;
	cursor: pointer;
}

.inf-navigation-button:HOVER {
	background: transparent url(images/navigation-button-back-hover.gif)
		no-repeat
}

.inf-simple-button {
	width: 60px;
	height: 74px;
	background: transparent url(images/navigation-button-back.gif) no-repeat
		left top;
}

.inf-simple-button-icon {
	width: 100%;
	height: 100%;
}

.inf-small-icon {
	width: 20px;
	height: 20px;
	background: transparent url(images/small-icon-back.gif) no-repeat left
		top;
}

.inf-small-icon-icon {
	width: 100%;
	height: 100%;
}

.screen-description {
	width: 350px;
}

.content {
	margin-top: 20px;
	width: 100%;
	float: left;
}

.page-top-slot {
	width: 910px;
	padding: 0 20px 20px 20px;
	display: table;
}

.page-content-slot {
	width: 910px;
	padding: 20px;
}

.page-header-slot {
	width: 910px;
	padding: 20px 20px 20px 0;
}

.page-separator {
	border-top: solid 1px #c4c4c4;
	background: transparent url(images/page-separator-back.png) repeat-x
		left top;
	min-height: 150px;
}

.iconed-link-widget {
	cursor: pointer;
}

.iconed-link-widget:hover {
	color: #ff5a00;
}

/*navigation icons*/
.inf-department-screen {
	background: url(images/navigation-button-icon.gif) no-repeat -120px 0;
}

.inf-patient-screen {
	background: url(images/navigation-button-icon.gif) no-repeat -240px 0;
}

/*small icons*/
.inf-small-icon-add {
	background: url(images/small-icon-icons.gif) no-repeat 0 0;
}