.parametr {
	background: url(../images/main/upper_corner.gif) no-repeat;
	background-color: #cecece;
	background-position: 0px 0px;
	padding: 10px;
	display: table;
	font-weight: bold;
	font-size: 16px;
	color: #FF5A00;
	float: left;
	margin-bottom: 5px;
	width: 825px;
}

.parametrName {
	margin-left: 10px;
}
.parametrType {
	margin-left: 10px;
	margin-top:3px;
}
.parametrVariants{
	display: table;
	
}
.parametrVariant{
	width:140px;
	float:left;
	margin:3px;
	padding:1px;
	background-color: #FF5A00;
	
}
.parametrVariant:hover{
	background-color: #fff;
}
.parametrVariant INPUT{
	float: left;
	width: 110px;
	display: block;
	
}

.deleteButtonSmall {
	width: 16px;
	height: 16px;
	display: block;
	margin-top: 4px;
	margin-left:4px;
	float:left;	
	background-image: url("../images/delete_small.gif");
	cursor: pointer;
}

.addButtonSmall {
	width: 140px;
	height: 24px;
	display: block;
	margin: 5px;
	background-color: #FF5A00;
	background-image: url("../images/add_small.gif");
	background-position:50% 50%;
	background-repeat:no-repeat;
	float: left;
}
.addButtonSmall:hover {
	background-color: #fff;
	background-image: url("../images/add_small.gif");
}
.deleteParametr {
	width: 16px;
	height: 16px;
	display: block;
	
	
	float:right;	
	background-image: url("../images/delete_small.gif");
	cursor: pointer;
}