.recordButton {
	background-image: url("../images/departments/injury_not_selected.gif");
	width: 75px;
	height: 40px;
	margin-bottom: 5px;
	margin-left: 4px;
	display: block;
}

.recordButtonIcoMain {
	background-image: url("../images/departments/icons/first_page_ico.gif");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: block;
	float: left;
}

.recordButtonIcoOperation {
	background-image: url("../images/departments/icons/operation_ico.gif");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: block;
	float: left;
}

.recordButtonIcoEpicris {
	background-image: url("../images/departments/icons/epicris_ico.gif");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: block;
	float: left;
}

.recordButtonIcoAdd {
	background-image: url("../images/departments/icons/add_ico.gif");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: block;
	float: left;
}
 em{
	visibility: hidden;
	}

.recordButtonSelected {
	background-image: url("../images/departments/injury_selected.gif");
	width: 75px;
	height: 40px;
	margin-bottom: 5px;
	margin-left: 4px;
	display: block;
}
