.validationInputError {
	background-color: #FFFFD7;
	border: 1px solid #FF8000;
	color: #FF8000;
	float: left;
}

.validationInputNormal {
	float: left;
}

LABEL.error {
	background-image: url(../images/validation/invalid.gif);
	background-position: left top;
	background-repeat: no-repeat;
	border-bottom: 0 solid #FF8000;
	border-left: 0 solid #FF8000;
	border-right: 0 solid #FF8000;
	color: #FF0000;
	margin: 0;
	padding-left: 20px;
	padding-top: 1px;
	float: left;
	height: 16px;
	margin-left: 3px;
	margin-top: 1px;
	
}

LABEL.validationHelp {
	background-image: url(../images/validation/valid.gif);
	background-position: left top;
	background-repeat: no-repeat;
	border-bottom: 0 solid #008000;
	border-left: 0 solid #008000;
	border-right: 0 solid #008000;
	color: #008000;
	margin: 0;
	padding-left: 20px;
	padding-top: 1px;
	float: left;
	height: 16px;
	margin-left: 3px;
	margin-top: 1px;
	
}