<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Brodkin's sample</display-name>
	<!--
		inserted manually (used to be inserted by gwt-maven plugin, but
		codehaus plugin doesn't seem to do it)
	-->
	<!-- TODO find out what's up with this -->

	<servlet>
		<servlet-name>com.company.server.SampleRemoteServiceImpl/com.company.Application/sampleRemoteService</servlet-name>
		<servlet-class>com.company.server.SampleRemoteServiceImpl</servlet-class>
	</servlet>

	<!--inserted manually (used to be inserted by gwt-maven plugin -->

	<servlet-mapping>
		<servlet-name>com.company.server.SampleRemoteServiceImpl/com.company.Application/sampleRemoteService</servlet-name>
		<url-pattern>/com.company.Application/sampleRemoteService</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
