.infoPanel {
	width: 325px;
	float: left;
	overflow: hidden;
}

.infoPanelContent {
	padding: 20px;
}

.topPanel {
	width: 675px;
}

.commonContent {
	float: left;
	width: 100%;
	background: url(../images/top_corner.gif) no-repeat;
	background-position: 0px 0px;
	padding: 16px;
	display: table;
}

.commonContentMarginFix {
	float: left;
	width: 968px;
	padding: 0px;
}

.deleteIcon {
	background: url(../images/delete_small.gif) no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	margin: 0 2px;
}

.modifyIcon {
	background: url(../images/modify_small.gif) no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	margin: 0 2px;
}

