.navButton {
	background: url(../images/navigation/tmp_nav_button.gif);
	background-repeat: no-repeat;
	width: 60px;
	height: 74px;
	margin: 6px auto;
	float: left;
	margin-left: 10px;
}

.navModule {
	background: url(../images/navigation/navicons.gif) no-repeat 0 0;
	width: 60px;
	height: 74px;
	margin: auto;
}

.navCard {
	background: url(../images/navigation/navicons.gif) no-repeat -60px 0;
	width: 60px;
	height: 74px;
	margin: auto;
}

.navDep {
	background: url(../images/navigation/navicons.gif) no-repeat -120px 0;
	width: 60px;
	height: 74px;
	margin: auto;
}

.navDoctor {
	background: url(../images/navigation/navicons.gif) no-repeat -180px 0;
	width: 60px;
	height: 74px;
	margin: auto;
}

.navPatient {
	background: url(../images/navigation/navicons.gif) no-repeat -240px 0;
	width: 60px;
	height: 74px;
	margin: auto;
}

.navAnlysis {
	background: url(../images/navigation/navicons.gif) no-repeat -300px 0;
	width: 60px;
	height: 74px;
	margin: auto;
}